.ourTeam {
  background-color: #faf7ed;
  display: flex;
  .ourTeam_left{
    @media (max-width:767px) {
      display: none;
    }
  }
  .ourTeam_right {
    margin-left: 30px;
    @media (max-width:767px) {
      margin-left: 0;
    }
    p {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 39px;
      color: #474747;
      padding-bottom: 15px;
      margin-bottom: 20px;
      border-bottom: 1px solid #dcdcdc;
    }
    span {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 32px;
      color: #757575;
    }
  }
}
