.map {
  background: #faf7ed;
  .map__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    color: #474747;
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #dcdcdc;
  }
}
